.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.column,
.row {
  gap: 24px;

  .grow {
    flex-grow: 1;
    overflow: hidden;
  }

  .scrollable {
    overflow: auto;
  }

  &.small-gap {
    gap: 12px;
  }

  .no-gap {
    gap: 0;
  }

  &.start {
    align-items: flex-start;
  }
}
